<div class="media_report_banner">
  <div class="container">
    <div class="menu">
      <img src="/assets/website/banner/media_menu.png" alt="" />
    </div>
  </div>
</div>
<div class="media_report">
  <div class="container">
    <div class="lists">
      <%= render 'article_list' %>
    </div>
    <%= paginate(@news_list, :theme => 'web')%>
  </div>
</div>