<!doctype html>

<html>
<head>
<meta charset="gb2312">
<title>Schooltop Blog</title>
<meta name="keywords" content="schooltop blog" />
<meta name="description" content="校园市场创新" />
<%= stylesheet_link_tag 'base','index' %>
<%= javascript_include_tag 'silder','modernizr' %>
<!-- <link href="css/base.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet"> -->
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
  <div id="logo"><a href="/"></a></div>
  <nav class="topnav" id="topnav">
  <a href="index.html"><span>Protal</span><span class="en">Protal</span></a>
  <a href="about.html"><span>About</span><span class="en">About</span></a>
  <a href="newlist.html"><span>Life</span><span class="en">Life</span></a>
  <a href="moodlist.html"><span>Doing</span><span class="en">Doing</span></a>
  <a href="share.html"><span>Share</span><span class="en">Share</span></a>
  <a href="knowledge.html"><span>Learn</span><span class="en">Learn</span></a>
  <a href="book.html"><span>Gustbook</span><span class="en">Gustbook</span></a></nav>
  </nav>
</header>
<div class="banner">
  <section class="box">
    <ul class="texts">
      <p>打了死结的青春，捆死一颗苍白绝望的灵魂。</p>
      <p>为自己掘一个坟墓来葬心，红尘一梦，不再追寻。</p>
      <p>加了锁的青春，不会再因谁而推开心门。</p>
    </ul>
    <div class="avatar"><a href="#"><span>Jamst</span></a> </div>
  </section>
</div>
<div class="template">
  <div class="box">
    <h3>
      <p><span>个人博客</span>模板 Templates</p>
    </h3>
    <ul>
      <li><a href="/"  target="_blank"><img src="/assets/blogs/01.jpg"></a><span>仿新浪博客风格·梅——古典个人博客模板</span></li>
      <li><a href="/" target="_blank"><img src="/assets/blogs/02.jpg"></a><span>仿新浪博客风格·梅——古典个人博客模板</span></li>
      <li><a href="/"  target="_blank"><img src="/assets/blogs/03.jpg"></a><span>仿新浪博客风格·梅——古典个人博客模板</span></li>
      <li><a href="/" target="_blank"><img src="/assets/blogs/04.jpg"></a><span>仿新浪博客风格·梅——古典个人博客模板</span></li>
      <li><a href="/"  target="_blank"><img src="/assets/blogs/02.jpg"></a><span>仿新浪博客风格·梅——古典个人博客模板</span></li>
      <li><a href="/"  target="_blank"><img src="/assets/blogs/03.jpg"></a><span>仿新浪博客风格·梅——古典个人博客模板</span></li>
    </ul>
  </div>
</div>
<article>
  <h2 class="title_tj">
    <p>文章<span>推荐</span></p>
  </h2>
  <div class="bloglist left">
    <h3>个人博客评测，你敢来，我就敢说！（第一期）</h3>
    <figure><img src="/assets/blogs/001.png"></figure>
    <ul>
      <p>看到很多博客站长给我留言，我有空的 时候我都会去看看。现在本站的模板已经不更新的，为的就是大家能做出更多的原创模板。不管你是自己原创的，还是东拼西凑伪原创的，都可以跟帖留言，把你的网站地址留下来，我会筛选一些博客，然后写出测评报告。...</p>
      <a title="/" href="/" target="_blank" class="readmore">阅读全文>></a>
    </ul>
    <p class="dateview"><span>2013-11-04</span><span>作者：杨青</span><span>个人博客[<a href="/news/life/">原创个人博客模板</a>]</span></p>
    <h3>个人博客评测，你敢来，我就敢说！（第一期）</h3>
    <figure><img src="/assets/blogs/001.png"></figure>
    <ul>
      <p>看到很多博客站长给我留言，我有空的 时候我都会去看看。现在本站的模板已经不更新的，为的就是大家能做出更多的原创模板。不管你是自己原创的，还是东拼西凑伪原创的，都可以跟帖留言，把你的网站地址留下来，我会筛选一些博客，然后写出测评报告。...</p>
      <a title="/" href="/" target="_blank" class="readmore">阅读全文>></a>
    </ul>
    <p class="dateview"><span>2013-11-04</span><span>作者：杨青</span><span>个人博客[<a href="/news/life/">原创个人博客模板</a>]</span></p><h3>个人博客评测，你敢来，我就敢说！（第一期）</h3>
    <figure><img src="/assets/blogs/001.png"></figure>
    <ul>
      <p>看到很多博客站长给我留言，我有空的 时候我都会去看看。现在本站的模板已经不更新的，为的就是大家能做出更多的原创模板。不管你是自己原创的，还是东拼西凑伪原创的，都可以跟帖留言，把你的网站地址留下来，我会筛选一些博客，然后写出测评报告。...</p>
      <a title="/" href="/" target="_blank" class="readmore">阅读全文>></a>
    </ul>
    <p class="dateview"><span>2013-11-04</span><span>作者：杨青</span><span>个人博客[<a href="/news/life/">原创个人博客模板</a>]</span></p>
  </div>
  <aside class="right">
    <div class="weather"><iframe width="250" scrolling="no" height="60" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=12&icon=1&num=1"></iframe></div>
    <div class="news">
    <h3>
      <p>最新<span>文章</span></p>
    </h3>
    <ul class="rank">
      <li><a href="/" title="帝国cms首页、自定义页面如何实现分页" target="_blank">帝国cms首页、自定义页面如何实现分页</a></li>
      <li><a href="/" title="2014年度优秀个人博客排名公布" target="_blank">2014年度优秀个人博客排名公布</a></li>
    </ul>
    <h3 class="ph">
      <p>模板<span>排行</span></p>
    </h3>
    <ul class="paih">
      <li><a href="/" title="帝国cms首页、自定义页面如何实现分页" target="_blank">帝国cms首页、自定义页面如何实现分页</a></li>
      <li><a href="/" title="2014年度优秀个人博客排名公布" target="_blank">2014年度优秀个人博客排名公布</a></li>
    </ul>
    <h3 class="links">
      <p>友情<span>链接</span></p>
    </h3>
    <ul class="website">
      <li><a href="/">个人博客</a></li>
      <li><a href="/">个人博客</a></li>
      <li><a href="/">个人博客</a></li>
      <li><a href="/">个人博客</a></li>
    </ul> 
    </div>  
    <!-- Baidu Button BEGIN -->
    <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare"><a class="bds_tsina"></a><a class="bds_qzone"></a><a class="bds_tqq"></a><a class="bds_renren"></a><span class="bds_more"></span><a class="shareCount"></a></div>
    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script> 
    <script type="text/javascript" id="bdshell_js"></script> 
    <script type="text/javascript">
     document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
    </script> 
    <!-- Baidu Button END -->   
    <a href="/" class="weixin"> </a></aside>
</article>
<footer>
  <p>Design by DanceSmile <a href="http://www.miitbeian.gov.cn/" target="_blank">ÊñICP±¸11002373ºÅ-1</a> <a href="/">ÍøÕ¾Í³¼Æ</a></p>
</footer>
</body>
</html>
