<li>
  <% if  current_page.first? %>
      <a class="am-pagination-prev" href="javascript:void(0)" >
        上一页
      </a>
  <% else %>
      <a class="am-pagination-next" href="<%= url %>" >
        上一页
      </a>
  <% end %>
</li>
