
<%= form_for @article, :html => { :multipart => true }, :remote => true do |f| %>
  <div class="field">
    <%= file_field_tag "draft_img", id: 'draft_img' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
