<div id='footWrapper'>
  <div id='footLine'></div>
  <div class='foot'>
    <dl class='company'>
      <dt>关于公司</dt>
      <dd> <a href='/about_us/index.html' target='_blank'>关于我们</a> </dd>
      <dd> <a href='/novice_guide' target='_blank'>新手指引</a> </dd>
      <dd> <a href='/about_us/news.html' target='_blank'>媒体新闻</a> </dd>
      <dd> <a href='/about_us/friendly_link.html' target='_blank'>中路成员企业</a> </dd>
      <dd> <a href='/about_us/web_friendly_link.html' target='_blank'>友情链接</a> </dd>
    </dl>
    <dl class='link'>
      <dt>快速链接</dt>
      <dd> <a href='/'> 首页 </a> </dd>
      <dd> <a href='/look_raw_material/index.html' target='_blank'>找原料</a> </dd>
      <dd> <a href='/selling_product/index.html' target='_blank'>卖产品</a> </dd>
      <dd> <a href='/syntheticnew/draw_target_index.html' target='_blank'>查路线</a> </dd>
      <dd> <a href='/trading_hall/index.html' target='_blank'>交易大厅</a> </dd>
    </dl>
    <dl class='platform'>
      <dt>社交平台</dt>
      <dd style='float:left; margin-right:5px'> <img src='/assets/weixin_logo.jpg'> 网化商城微信 <br> <img src='/assets/weixin.jpg' /> </br> </dd>
      <dd style='float:left'> <img src='/assets/jf_sina.jpg'> 网化商城微博 <br> <img src='/assets/jf_shejiao.jpg' /> </br> </dd>
      <dd style=' padding-left:30px; padding-top:5px;'>
      <a id='___szfw_logo___' href='https://credit.szfw.org/CX20160316018101130175.html' target='_blank'><img src='http://icon.szfw.org/cert.png' border='0' /></a>
      </dd>
    </dl>
    <dl class='resource'>
      <dt>使用条款</dt>
      <dd> <a href='/about_us/terms.html' target='_blank'>协议条款</a> </dd>
      <dd> <a href='/about_us/privacy.html' target='_blank'>隐私条款</a> </dd>
      <dd> <a href='/about_us/use_rules.html' target='_blank'>使用前须知</a> </dd>
      <dd> <a href='/about_us/point_policy.html' target='_blank'>积分换购政策</a> </dd>
    </dl>
    <dl class='contact'>
      <dt>联系我们</dt>
      <dd>客服热线：4008-123-147</dd>
      <dd>
      企业QQ：800 030 582
      <a href='tencent://message/?Menu=yes&amp;amp;amp;uin=800030582&amp;amp;amp;Service=58&amp;amp;amp;SigT=A7F6FEA02730C98888F9F2B39FF3CBF4B4B654F197AA130A35A8EB1381E0C8A5D550E04A27B1B6678930C5B63E851F8406B47F4AA7FA6D18CB2FB0DE61E37117B89E291EE68D1021C2EF8CB14FFB9ABE3C8A96F2F1C9232C9691ECCCF9250BA053C62891BD08ED5ABEF3C5C7FE168E1668BB3A8F19F0EF63&amp;amp;amp;SigU=30E5D5233A443AB206D05D79F227A6BAAC82DA3689ADB02D6404C504D00466E6D70FA14DCD9F951570F6760A73CDC6C9512B88F71A81DF0E634061E60DC81E375E4BAD6BA4EF0AD4' id='1' target='_blank'>
        <img src='http://wpa.qq.com/pa?p=1:800030582:5'>
      </a>
      </dd>
      <dd>咨询邮箱：info@whmall.com</dd>
      <dd>电话：021-3497 6385</dd>
      <dd>传真：021-5268 5809</dd>
    </dl>
  </div>
</div>
<div class='footBar'>
  © 2009-2016 whmall.com 版权所有 ICP证：沪ICP备09033181号-2
</div>
<div id='leftsead'>
  <ul>
    <li>
    <a class='youhui' href='javascript:void(0)' onclick='release_inquiry(this)'>
      <img class='shows' height='62' src='/assets/rightSide_buy.jpg' width='62'>
      <img class='hides' height='62' src='/assets/rightSide_buy2.jpg' width='62'>
    </a>
    </li>
    <li>
    <a class='kf' href='javascript:void(0)'>
      <div class='hides' style='width:-170px;display:none'>
        <img height='62' src='/assets/rightSide_kf2.jpg' width='232'>
      </div>
      <img class='shows' height='62' src='/assets/rightSide_kf.jpg' width='62'>
    </a>
    </li>
    <li>
    <a class='QQ' href='tencent://message/?Menu=yes&amp;amp;amp;uin=800030582&amp;amp;amp;Service=58&amp;amp;amp;SigT=A7F6FEA02730C98888F9F2B39FF3CBF4B4B654F197AA130A35A8EB1381E0C8A5D550E04A27B1B6678930C5B63E851F8406B47F4AA7FA6D18CB2FB0DE61E37117B89E291EE68D1021C2EF8CB14FFB9ABE3C8A96F2F1C9232C9691ECCCF9250BA053C62891BD08ED5ABEF3C5C7FE168E1668BB3A8F19F0EF63&amp;amp;amp;SigU=30E5D5233A443AB206D05D79F227A6BAAC82DA3689ADB02D6404C504D00466E6D70FA14DCD9F951570F6760A73CDC6C9512B88F71A81DF0E634061E60DC81E375E4BAD6BA4EF0AD4' id='1' target='_blank'>
      <div class='hides' style='width:-170px;display:none'>
        <img height='62' src='/assets/rightSide_qq2.jpg' width='232'>
      </div>
      <img class='shows' height='62' src='/assets/rightSide_qq.jpg' width='62'>
    </a>
    </li>
    <li id='tucao'>
    <a class='youhui' href='javascript:void(0)'>
      <img class='shows' height='81' onclick='tuTsau()' src='/assets/rightSide_angery.jpg' width='62'>
    </a>
    </li>
    <li id='btn'>
    <a class='gotop' href='#' id='top_btn'>
      <img src='/assets/top.jpg'>
    </a>
    </li>
  </ul>
</div>
<script src='/assets/myjs.js'></script>
<span style="display:none;"><script language="javascript" type="text/javascript" src="http://js.users.51.la/4903511.js"></script>
  <noscript><a href="http://www.51.la/?4903511" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/4903511.asp" style="border:none;display:none;" /></a></noscript>
  <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F08c10abdd6324ae8f23c12e806fb87cf' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type='text/javascript'>(function(){document.getElementById('___szfw_logo___').oncontextmenu = function(){return false;}})();</script>
</span>
