<div class="footer_new  ">
  <div class="fast_link">
    <p>快速链接</p>
    <ul>
      <li><a href="/" target="_blank">首页</a>丨</li>
      <li><a href="/look_raw_material/index.html" target="_blank">照片</a>丨</li>
      <li><a href="/firm_orders/index.html" target="_blank">视频</a>丨</li>
      <li><a href="/selling_product/index.html" target="_blank">音乐</a>丨</li>
      <li><a href="/syntheticnew/draw_target_index.html" target="_blank">文章</a>丨</li>
    </ul>
  </div>
  <div class="terms_of_use">
    <p>标签分类</p>
    <ul>
      <li><a href="<%#= terms_about_us_path %>" target="_blank">rails</a>丨</li>
      <li><a href="<%#= privacy_about_us_path %>" target="_blank">js</a>丨</li>
      <li><a href="<%#= use_rules_about_us_path %>" target="_blank">技术</a>丨</li>
      <li><a href="<%#= real_single_rule_about_us_path %>"  target="_blank" >心情</a>|</li>
      <li><a href="<%#= real_single_rule_about_us_path %>"  target="_blank" >旅行</a></li>
    </ul>
  </div>
  <div class="strategic_partner">
    <p>友情伙伴</p>
    <ul>
      <li><a href="http://www.labnetwork.com/" target="_blank">schooltop</a>丨</li>
      <li><a href="http://zh.echemi.com/" target="_blank">whmall</a>丨</li>
      <li><a href="<%#= partner_about_us_path %>">更多</a></li>
    </ul>
  </div>
</div>
<hr />
<div class="copyright">
  <div class="left_content">
    <ul class="link">
      <li><a href="<%#= about_us_path %>" target="_blank">关于我</a>丨</li>
      <li><a href="<%#= media_reports_path %>" target="_blank">文章</a>丨</li>
      <li><a href="<%#= partner_about_us_path %>" target="_blank" >视频</a>丨</li>
      <li><a href="<%#= contact_us_about_us_path %>" target="_blank">音乐</a></li>
      <li>© 2017 schooltop.me 请和我交朋友 <%= qq_link "107422244" %></li>
    </ul>
  </div>
</div>
